*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
#header{
    height: 15%;
    width: 100%;
    /* background-color: blue; */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
#logo{
    height:50%;
    margin: 10px;
}
#logo img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.texts{    
    color: blue;
    display: flex;
}
.texts:hover{
    color: rgba(0, 191, 255, 0.71);
    display: flex;
}
#contactDetails{

    /* margin-left: 30px; */
}
.icon{
   /* margin-left: 20px;  */
   
   padding: 10px;
   border-radius: 50%;
}
.icon:hover{
    background-color: rgb(220, 200, 239);
}
#login{
    padding: 10px;
    border-radius: 50px;
    display: flex;    
}
#login:hover{
    background-color: lightblue;
}
#try{
    background-color:rgba(0, 128, 0, 0.984);
    padding: 10px 20px;
    color: white;
}
#try:hover{
    background-color:rgba(0, 128, 0, 0.689);
}
#fackHeader{
    height: 15%;
    width: 100%;
}                              
#page1{
    height: 85%;
    width: 100%;
    
}
#strip{
    height:8%;
    width:100%;
    background-color: blue;
    color:white;    
    align-items: center;
    justify-content: center;
    display: flex;
}
#strip u{
    font-weight:lighter;
    margin-left: 20px;
}
#content{
    width:100%;
    height: 76%;
    
    display:flex;
    align-items: center;
    justify-content: space-around;
}
#box1{
    height:90%;
    width:47%;
    background-color: white;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#box1 h1{
    font-size:50px;
    font-weight: 600;
    padding: 10px;
    margin:20px 10px;
    height: 40%;
    color:rgb(8, 8, 115);
}
#box1 p{
    font-size: 25px;
    padding: 10px 30px;
    font-weight: lighter;
    margin:10px 10px ;
    height: 30%;
}
#btns{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#btn1{
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    margin: 10px;

}
#btn1:hover{
    background-color: rgb(0, 66, 88);
}
#btn2:hover{

    background-color:#a6eeeef9;
    color:blue;
    border-color: rgba(0, 0, 255, 0.333);
}
#btn2{
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid blue;
    margin: 10px;
}
#box2{
    height:90%;
    width:47%;
    background-color: white;
    margin: 10px;
}
#box2 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#heading{
    width:100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    color: rgba(0, 0, 255, 0.907);
}
#page2{
    height: 85%;
    width: 100%;
    


}
#page2 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* 4:46 */
/* https://a.sfdcstatic.com/shared/images/c360-nav/salesforce-with-type-logo.svg */